#App {
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1%;
}

#AppBody div, #AppBody table {
  width: 100%;
}

#AppBody input {
  width: 100%
}

.column > h1, h2 {
  margin: 0;
}

.divider {
  width: 75%;
  height: 1px;
  background-color: black;
}

h4 {
  margin-bottom: 0;
}

.display-linebreak {
  white-space: pre-line;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1 1;
  padding: 1rem;
}

.item {
  display:block;
}

.minor-change {
  display:block
}